{% extends 'base.html' %}
{% block title %}ลงทะเบียน{% endblock %}
{% block content %}
    <h1>ลงทะเบียน</h1>
    {% if message %}
        <p style="color: red;">{{ message }}</p>
    {% endif %}
    <form action="" method="POST">
        <div>
            <label>ชื่อผู้ใช้:</label>
            <input type="text" name="username" required>
        </div><br>
        <div>
            <label>รหัสผ่าน:</label>
            <input type="password" name="password" required>
        </div>
        <br>
        <input type="submit" value="ลงทะเบียน">
    </form>
{% endblock %}